p,
li {
  font-size: 18px;
}

h3 {
  font-size: 1.5em;
}

.whole {
  background-color: rgb(140, 202, 204);
}

.logo {
  height: 20px;
}

.image {
  width: 100%;
}
.image-handwritten {
  width: 120%;
}

.trans {
  position: absolute;
  top: 75px;
  opacity: 0.3;
  height: 100%;
  z-index: -1;
}

.centered {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: navy;
  z-index: -1;
}

.big {
  font-size: 6em;
}

.main-body {
  font-family: 'Raleway';
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
}

.main-navbar {
  position: fixed;
  top: 0;
  height: 75px;
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.main-navbar-hamburger {
  display: none;
}

.decor:visited {
  color: rgb(212, 45, 73);
}

.navbar-entry {
  display: inline-block;
  margin-right: 10px;
}

.drop {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: rgba(5, 176, 5, 0.95);
}

.navbar-entry:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.drop:hover .dropdown {
  display: block;
}

.drop:hover .navbar-entry {
  background-color: rgba(255, 255, 255, 0.2);
}

.link,
.dropdown-link,
.underlined-link {
  display: inline-block;
  text-decoration: none;
  color: WHITE;
  padding: 10px;
}

.dropdown-link {
  width: 180px;
}

.underlined-link {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}

.dropdown-link:hover {
  background-color: rgba(0, 170, 0, 0.95);
}
.stock {
  z-index: -1;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 40px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  font-size: 18px;
}

@media only screen and (max-width: 980px) {
  /* For mobile devices: */
  [class*='main-body'] {
    margin: 5%;
  }
  [class*='centered'] {
    bottom: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  [class*='trans'] {
    width: 100%;
  }
  [class*='main-navbar'] {
    display: none;
  }
  [class*='main-navbar-hamburger'] {
    position: fixed;
    top: 0;
    width: stretch;
    display: flex;
    align-items: center;
    background-color: green;
  }

  [class*='ham'] {
    align-items: center;
    position: relative;
    display: flex;
    width: stretch;
  }

  [class*='hamburger'] {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
  }

  [class*='myLinks'] {
    display: none;
  }

  [class*='drop'] {
    display: flex;
    justify-content: flex-end;
  }

  [class*='dropdown'] {
    display: none;
    top: 40px;
    right: 10px;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(5, 176, 5, 0.95);
  }

  [class*='link'] {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  [class*='icon'] {
    color: white;
    position: relative;
    text-align: right;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar-entry:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .drop:hover .dropdown {
    display: block;
  }

  .drop:hover .navbar-entry {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
