p,
li {
  font-size: 18px;
}

h3 {
  font-size: 1.5em;
}

.logo {
  height: 20px;
}

.image {
  width: 100%;
}
.image-handwritten {
  width: 120%;
}

.main-body {
  margin-left: 20%;
  margin-right: 20%;
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.navbar-entry {
  display: inline-block;
  margin-right: 10px;
}

.drop {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: rgba(5, 176, 5, 0.95);
}

.navbar-entry:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.drop:hover .dropdown {
  display: block;
}

.drop:hover .navbar-entry {
  background-color: rgba(255, 255, 255, 0.2);
}

.link,
.dropdown-link {
  display: inline-block;
  text-decoration: none;
  color: WHITE;
  padding: 10px;
}

.dropdown-link {
  width: 180px;
}

.dropdown-link:hover {
  background-color: rgba(0, 170, 0, 0.95);
}

table {
  width: 100%;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}
